@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caveat:wght@400..700&family=Merienda:wght@300&display=swap');

/*https://www.youtube.com/watch?v=y4ltLH9iK8E  - 10 ideias de projetos em HTML e CSS para adicionar no portfólio!*/
/*criação de variável em CSS com uso de :root {} */
/*aplicando a unidade de medida REM no código CSS nas fontes para responsividade - dividi-se o valor em pixel por 16*/
/*toda códificação que estiver dentro da função "@media", referi-se a responsividade do código em telas de tamanho diferentes*/

:root {
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4f2;

    --fonte-primaria: "Audiowide", sans-serif;
    --fonte-secundaria: "Caveat", cursive
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 0.81rem;
    font-weight: 100;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.18rem;
    font-family: var(--fonte-primaria);
    text-align: justify;

}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.37rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.62rem;
    color: var(--cor-terciaria);
}

.apresentacao__links__navegacao {
    /* background-color:#22d4fd; trecho removido para atualização da página (utilizando atalho Ctrl+k+c) ele comenta o trecho de código selecionado*/
    border: 1px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 7px;
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
    padding: 10px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: #272727;
}

.apresentacao__imagem{
    width: 50%;
}

.rodape {
    padding: 9px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

.rodape__link {
    text-decoration: none; 
    color: var(--cor-primaria);
}

.rodape__link:hover {
    color: var(--cor-secundaria);
}


@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 15%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 7%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}